src/main/resources/service.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://example.com/soap" targetNamespace="http://example.com/soap" elementFormDefault="qualified">

    <xs:element name="getRequest" type="tns:GetRequest"/>
    <xs:element name="getResponse" type="tns:GetResponse"/>

    <xs:complexType name="GetRequest">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GetResponse">
        <xs:sequence>
            <xs:element name="message" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
